@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
